<section>
  <form action="action_page.php" method="post">
    <h2>WELCOME TO SPEED DATING</h2>

    <section class="container">
      <input type="text" [(ngModel)]="username" placeholder="Enter Username" name="uname" required>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
      <section class="button-container">
        <button class="save" type="button" (click)="loadFromDB()">Login</button>
        <button class="save" type="button" [routerLink]="['/register']">Register</button>
      </section>
    </section>
  </form>
</section>
