.vscode
.fleet
*/.fleet
*/.vscode
/node_modules
npm-debug.log
.DS_Store
/*.env
*/.idea/

**/node_modules
**/package-lock.json
*/package-lock.json
**/package.json
/package.json

/tags
**/tags

.projectionist.json
*/.projectionist.json

*.aux
*.log
*.pdf
*.tex
