body {
    text-align: center;
    margin-top: 35px;
}

.content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content div {
    flex: 1;
    width: 100%;
    margin-bottom: 20%;
}

.content div:first-of-type {
    flex: 1;
    width: 100%;
}

.content div:last-of-type {
    flex: 1;
    width: 100%;
    margin-bottom: 5px;
}

textarea {
    width: 90%;
    min-height: 50px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

p {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

a, a button{
    color: #c5d5cb;
}

